@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic");

/*mali fix za citace gdje nije implementiran HTML5*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
 

/*Whole Page*/
html{
	padding: 0;
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-size: 15px;
	font-family: Lato, Arial,  Sans-serif;
	background-color: #0B0F13;
}
body{
	overflow: auto;
}
a{
	text-decoration: none;
}
/*Whole page - END*/

/*Navbar*/
.navbar{
	min-height: 60px;
	font-size: 20px;
  	padding-left: 15px;
  	padding-right: 15px;
  	margin-right: auto;
  	margin-left: auto;
  	overflow: auto;
}

.navbar-small{
	min-height: 50px;
	font-size: 16px;
}

.navbar ul{
	margin: 0;
	list-style-type: none; 
	float: left;
	overflow: hidden;
	padding-left: 40px;
	padding-right: 40px;
}
.navbar>ul>li{
	float: left;
	
	padding: 0 10px;
}
.navbar>ul>li>a{
	display: block;
	padding-top: 18px;
	padding-bottom: 18px; 
}

.navbar-small>ul>li>a{
	padding-top: 14px;
	padding-bottom: 14px;
}


.navbar-tamni{
	background-color: #2c3e50;
	color: white;
}
.navbar-tamni a{
	color: white;
}
.navbar-tamni li.active, .navbar-tamni li:hover:not(.no-hover){
	background-color: #1d2935;
}
.navbar-tamni li.active{
	/*Udustali od sjene
	box-shadow: 0px 0px 3px 0px black;*/
}

@media (max-width: 500px){
	.navbar>ul>li{
		clear: both;
	}
	.navbar ul{
		padding-left: 0;
		padding-right: 0;
	}
	
}

.logo{
	width: auto;
	height: 56px;
	margin: 0 0 0 -20px;
	padding: 12px 0 !important;
	font-size: 28px;
}
.logo>img{
	margin: -15px 4px -13px 0;
	height: 50px;
	vertical-align: middle;
	display: inline;
}

.navbar{
	box-shadow: 0px 0px 6px -1px black;
}
/*Navbar - END*/

/*Warrnig: footer is not very good, test it before use, 
and use it with .navbar and .navbar-tamni*/
html {
  position: relative;
  min-height: 100%;
}

footer{
	display: none;
	background-color: #1d2935;
	color: white;
	min-height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	overflow: auto;
	text-align:center;
   	padding:5px;
}
footer a{
	color: white;
}

/*Footer - END*/

.ng-scoope{
	display: block;
	overflow: hidden;
}
/*Modal*/
.modal{
	display: block;
	position: relative;
	margin-top:50px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	max-width: 700px;
	width: 50%;
	background-color: transparent;
	padding: 0px;

	overflow: auto;
}

.modal-content{
	border-radius: 6px;
	padding: 15px;
}

.modal-content>a{
	display: block;
	
}
.modal-tamni{
	color: white;
	background-color: #172029;
	box-shadow: 0px 0px 6px black;
}
.modal-tamni a{
	color: white;
}
/*Modal - END*/

/*Buttons*/
.btn{
	display: block;
	border-radius: 6px;
	box-shadow: 0px 0px 4px black;
	padding: 10px;
}

.btn-wide{
	width:100%;
	font-size: 23px;
	padding: 15px;
}

.btn-orange{
	background-color: #bd4028;
	color: white;
}

.btn-violet{
	background-color: #6C0EA3;
	color: white;
}
.btn-blue{
	background-color: #1A74AB;
	color: white;
}

.btn-group-vertical>.btn:not(:first-child):not(:last-child){
	border-radius: 0px;
}
.btn-group-vertical>.btn:first-child{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.btn-group-vertical>.btn:last-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.link{
	display: block;
	border-radius: 0px;
	padding: 10px;
}

/*Buttons - END*/

/*Forms*/
	form  *{
		font-family: Lato, Arial, Sans-serif;
		font-size: 15px;
	}
	.form-block, .form-block *{
		display: block;
	}

	.form-group{
		margin-top: 7px;
		margin-bottom: 7px;
	}

	#loginButton{
		border: 0px solid black;
		outline: 0px;
		margin-top: 12px;
		margin-left: auto;
		margin-right: 0;
	}

	.text-box{
		width: 100%;
		border-radius: 6px;
		padding: 8px 13px;
		box-shadow: inset 0px 0px 0px;
		outline: 0 none;
		
	}
	.text-box:focus{
		padding: 8px 13px;
		border-radius: 6px;
		border: 1px solid #999999;
		box-shadow: inset 0px 0px 0px;
		outline: 0 none;
	
	}
	.form-label{
		padding: 8px 13px;
	}
/*Forms-END*/


/*Home**/
#menu-left{
   margin: 0px;
  float: left;
  width: 30%;
  padding: 5px;
  border: solid;
  height: 100%;
  /*border-style: groove;*/
  overflow: auto;
  background-color: #172029;
  clear: both;
}

#menu-left>h2{
    margin-left: 5px;
	color: white;
}
#main-right{
   
   margin-top: 0px;
  float: right;
  width: 80%;
  height: auto;
  padding: 5px;
  /*border: solid;?/
	clear: both;
  /*border-style: groove;*/
}


/*Home - END*/
@media (min-width: 900px){
	.right-fix{
		position: fixed;
		top: 60px;
		right: 20px;
		width: 200px;
	}
}

#PartnersList{
	list-style-image: url('img/bullet02.png');
}

#project-list a, #editor a{
	color: white;
	text-decoration: none;
}