<div class="modal">
	<div class="modal-content modal-tamni">
		<hgroup>
			<h1>Contact Owner</h1>
			<h2>Send us message...</h2>
		</hgroup>
		
		<form class="form-block" action="#/Home">
			<div class="form-group">
				<label for="usernameInput" class="form-label">Contact email</label>
				<input type="text" id="usernameInput" class="text-box" placeholder="Enter Your email...">
			</div>
			<div class="form-group">
				<label for="messageInput" class="form-label">Body</label>
				<textarea type="text" row="5" id="messageInput" class="text-box" placeholder="Enter Message..."></textarea>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-blue" value="Log In!" id="loginButton"></button>
			</div>
		</form>

		<footer>
			Copyright © Sumejja Porca &amp; Luka Pejovic
		</footer>
	
	</div>	
</div>

<aside class="modal right-fix">
	<nav class="modal-content modal-tamni">
		<header>
			<h1>Our partners...</h1>
			<ul id="PartnersList">
				<li><a href="https://zamger.etf.unsa.ba">Zamger</a></li>
				<li><a href="https://www.github.com">GitHub</a></li>
				<li><a href="https://www.koding.com">Koding.com</a></li>
			</ul>
		</header>
	</nav>
</aside>