
<div class="modal">
	<div class="modal-content modal-tamni">
		<h1>Log in!</h1>
		<form ng-submit = "submit()" class="form-block" >
			<div class="form-group">
				<label for="usernameInput" class="form-label">Username</label>
				<input type="text" id="usernameInput" class="text-box" placeholder="Enter Username..." ng-model = 'Username'>
			</div>
			<div class="form-group">
				<label for="passwordInput" class="form-label">Password</label>
				<input type="password" id="passwordInput" class="text-box" placeholder="Enter Password..." ng-model = "Password">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-blue" value="Log In!" >
			</div>
		</form>
	</div>	
</div>